@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body {
 
}
/* img{
  border: 2px solid slateblue;
  width: 100%;
} */
/* shared styles */
.displayflex {
  display: flex;
}
/* dark-2 */
.text-gray {
  color: rgba(66, 66, 66, 1);
}
/* dark-3 */
.text-light-gray {
  color: #727272;
}
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
  background-color: rgba(255, 144, 14, 1);
  color: white;
  padding: 25px;
  font-weight: 600;
  font-size: 1.25rem;
  border-radius: 8px;
  border: none;
  margin-bottom: 45px;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}
main > section {
  margin-top: 130px;
}
/* Navbar related style */

.navbar,
.banner {
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.nav-links {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  margin-right: 40px;
  font-weight: 500;
  font-size: 1.2rem;
}
.brand {
  font-weight: 700;
  font-size: 2.5rem;
  margin-top: 15px;
  margin-bottom: 15px;
}
/* banner related style */
.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
}

.banner-title {
  font-weight: 700;
  font-size: 3.5rem;
}
.banner-description {
  font-size: 1rem;
}
.image {
  width: 100%;
}

/* teams section */
.tems {
  align-items: center;
}
.image-container {
  border: 1px solid salmon;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.our-features {
  max-width: 540px;
  margin-left: 75px;
}
.features-title {
  font-size: 2.25rem;
}
#quick-list {
  font-weight: 500;
  font-size: 2.25rem;
}
.features {
  color: rgba(255, 144, 14, 1);
  font-weight: 700;
}
/* Our Architect features related style */
.architect-container {
  gap: 145px;
}
.architect-title {
  border-left: 5px solid #ff900e;
  padding-left: 20px;
  font-weight: 700;
  font-size: 2.25rem;
  margin-top: 20px;
  margin-bottom: 20px;
}
.architect-description {
  max-width: 585px;
  font-size: 1rem;
}
.architect-card {
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-top: 20px;
  border-radius: 8px;
  padding: 20px;
}
.architect-subtitle {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 0px;
  margin-bottom: 0px;
}
.architect-image img{
  width: 100%;
  height: auto;
  display: block;
}
#experience-badge {
  padding: 42px 45px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 1.25rem;
  margin-left: -90px;
  margin-top: -120px;
}
#experience-years {
  font-weight: 700;
  font-size: 4rem;
}

/* some fact related style */
.fact-subtitle {
  text-align: center;
  max-width: 540px;
  margin-bottom: 100px;
}
.fact-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.fact-card {
  width: 245px;
  height: 245px;
  border: 1px solid rgba(255, 144, 14, 1);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.fact-card-title {
  font-weight: 600;
  font-size: 2.5rem;
  margin-top: 0px;
  margin-bottom: 0px;
}
.fact-card-subtitle {
  font-weight: 600;
  font-size: 1.25rem;
}

/* sponsors related style */
.sponsors-info {
  max-width: 546px;
  margin: 0 auto;
  text-align: center;
}
.sponsor-title {
  font-weight: 700;
  font-size: 2.5rem;
  margin-top: 0px;
  margin-bottom: 0px;
}
.sponsor-description {
  font-size: 1.25rem;
  text-align: center;
}
.sponsor-companies-name {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 50px;
  filter: grayscale(100%);

}
/* footer related style */
.footer{
  max-width: 1440px;
  margin: 70px auto;
  height: 100px;
  background-color: rgba(255, 244, 231, 1);
}
.ending{
  display: flex;
  justify-content: center;
  padding-top: 40px;
  font-size: 1.25rem;
}
/* responsive media query */
@media screen and (max-width: 676px) {
  .navbar,
  .nav-links,
  .teams,
  .architect-container {
    flex-direction: column;
  }
  .banner-title {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .banner img {
    width: 100%;
  }
  .image-container {
    grid-template-columns: 1fr;
  }
  #experience-badge {
    width: 400px;
    padding: 20px;
    margin-left: 10px;
    margin-top: 10px;
  }
  .architect-image img{
    width: 100%;
    height: auto;
    display: block;
  }
  .fact-card-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  
  .fact-container,
  .sponsors-companies{
    justify-items: center;
  }
  .sponsor-companies-name {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  .footer{
    width: 100%;
    margin: 0 auto;
  }
  .ending{
  font-size: 1.25rem;
}
}
/* responsive for tablet */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .navbar,
  .teams,
  .architect-container {
    align-items: center;
    flex-direction: column;
  }
  #experience-badge {
    margin-left: 20px;
    margin-top: 20px;
  }
  .fact-card-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .sponsor-companies-name {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
